# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
csv_path = "../output_data/cities.csv"
weather_df = pd.read_csv(csv_path)

weather_df = weather_df.loc[:, ~weather_df.columns.str.contains('^Unnamed')]
weather_df = weather_df.rename(columns={"Wind Speed":"Wind_Speed"})

weather_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind_Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

#
fig = gmaps.figure()
locations = weather_df[["Lat", "Lng"]]
humidity = weather_df["Humidity"].astype(float)

#heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=100,
                                point_radius=3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
WC_city_df = weather_df.copy()
WC_city_df = WC_city_df[WC_city_df['Max Temp'] >= 70]
WC_city_df = WC_city_df[WC_city_df['Max Temp'] <= 80]  
WC_city_df = WC_city_df[WC_city_df['Cloudiness'] == 0]
WC_city_df = WC_city_df.dropna()
WC_city_df = WC_city_df.reset_index()
WC_city_df

,index,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind_Speed
0,56,56,pisco,0,PE,1558378764,30,-13.71,-76.20,75.99,11.41
1,70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
2,88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
3,114,114,koumac,0,NC,1558378775,68,-20.56,164.28,74.40,12.86
4,138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
5,139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
6,176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
7,297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
8,391,391,namibe,0,AO,1558378870,74,-15.19,12.15,71.70,17.40
9,444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df = WC_city_df
hotel_df["Hotel Name"] = np.nan
hotel_df = hotel_df.drop(columns='index')
hotel_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind_Speed,Hotel Name
0,56,pisco,0,PE,1558378764,30,-13.71,-76.20,75.99,11.41,NaN
1,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,NaN
2,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,NaN
3,114,koumac,0,NC,1558378775,68,-20.56,164.28,74.40,12.86,NaN
4,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,NaN

In [ ]:
# Set parameters to search for hotels with 5000 meters.

In [18]:
#list for hotel names
hotels = []
#checker variable
x = 0

# for loop to search through city coords
for cities in hotel_df['City']:
    target_coordinates = str(hotel_df['Lat'][x])+' , '+str(hotel_df['Lng'][x])
    x+=1
    target_radius = 5000
    target_type = 'lodging'
    params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# try/except to check if a city turns up    
    try:
        response = requests.get(base_url, params=params)
        hotel_results = response.json()
        hotels.append(hotel_results['results'][0]['name'])
        
    except IndexError:
        hotels.append(np.nan)

#append dataframe with hotel names
hotel_df['Hotel Name'] = hotels
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind_Speed,Hotel Name
0,56,pisco,0,PE,1558378764,30,-13.71,-76.20,75.99,11.41,NaN
1,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,NaN
2,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,NaN
3,114,koumac,0,NC,1558378775,68,-20.56,164.28,74.40,12.86,NaN
4,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,NaN
5,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,NaN
6,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,NaN
7,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,NaN
8,391,namibe,0,AO,1558378870,74,-15.19,12.15,71.70,17.40,NaN
9,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,NaN

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map